{% extends '@layout/default.html.twig' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <h2> Login </h2>
            Статус: {{ status }}<br>
            <a href="{{ path('user-page') }}">Userinfo</a>
        </div>
    </div>
{% endblock %}
