{% extends '@layout/default.html.twig' %}

{% block title %}{{ text }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <h2>{{ text }}</h2>
            Войти с помощью:<br>
            <ul>
                <li><a href="{{ path('login-prepare-service', {'resourceName': 'GoogleOpenID'}) }}">GoogleOpenID</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
