{% extends '@layout/default.html.twig' %}

{% block title %}Logout{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <h2> Logout </h2>
            Статус: {{ status }}<br>
            {#<a href="{{ path('home-page') }}">Вернуться на главную</a>#}
        </div>
    </div>
{% endblock %}
